* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.folders_nav {
    width: 220px;
    border: 3px solid #2B2B2B;
    /* padding: 8px 8px; */
    border-radius: 4px;
    background-color: #252526;
    color: #e3e3e3;
    overflow-x: scroll;
    height: 500px;

    scrollbar-width: thin;
    scrollbar-color: #888 #2B2B2B;
}

.folder_icon {
    width: 10%;
    margin-right: 8px;
}

.folder_name {
    font-size: 14px;
}

.folder {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 24px;
}

.folder_parent {
    display: flex;
    align-items: center;
    /* gap: 8px; */
    cursor: pointer;
    width: 100%;
}

.folder_open_icon_wrapper {
    padding-left: 4px;
    padding-right: 8px;
}

.folder_parent:hover {
    background-color: #3e3e3e;
}

.folder_parent__opened, .openedFile {
    background-color: #4a4a4a;
}

.folder_open_icon {
    width: 10px;
}

.folder_wrapper {
    position: relative;
    left: 24px;
    user-select: none;
    
}

.folder_root_wrapper {
    position:static;
}

.files_panel {
    border: 3px solid #2B2B2B;
    background-color: #252526;
    color: #e3e3e3;
    width: 550px;
    border-radius: 4px;
    overflow-y: auto;
    height: 500px;
}

.filemanager_main {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px;
    padding-top: 8px;
    background-color: #252526;
    border-radius: 0px 0px 4px 4px;
}


.folders_nav::-webkit-scrollbar, .files_panel::-webkit-scrollbar{
    width: 10px;
}
   
.folders_nav::-webkit-scrollbar-track, .files_panel::-webkit-scrollbar-track {
    background-color: #2B2B2B;
}

.folders_nav::-webkit-scrollbar-thumb, .files_panel::-webkit-scrollbar-thumb {
    background-color: #888;
}

.metadata_block {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #2B2B2B;
    padding: 8px;
    font-size: 12px;
    padding-left: 12px;
}

.metadata {
    user-select: none;
}

.metadata_name {
    width: 40%;
}

.metadata_changedate, .file_changedate {
    width: 32%;
}

.metadata_type, .metadata_size, .file_type, .file_size {
    width: 14%;
}

.files_list {
    padding: 8px 0px;
}

.file_metadata {
    overflow: hidden;
    user-select: none;
}

.file_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #2B2B2B;
    padding: 8px 0px;
    padding-left: 12px;
    cursor: pointer;
}

.file_block:hover {
    background-color: #3e3e3e;
}

.file_icon {
    width: 4%;
    margin-right: 2%;
    user-select: none;
}

.file_name {
    width: 31%;
    margin-right: 2%;
    overflow: hidden;
}

.filemanager_tools {
    border: 3px solid #2B2B2B;
    border-top: none;
    background-color: #252526;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filemanager_navigation {
    border: 3px solid #2B2B2B;
    background-color: #252526;
    border-radius: 4px 4px 0px 0px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
}

.filemanager_arrow {
    width: 16px;
    display: block;
    user-select: none;
}

.arrows_block {
    border: 3px solid #2B2B2B;
    display: flex;
    border-radius: 4px;
}

.arrow_wrapper {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.arrow_wrapper:hover {
    background-color: #3e3e3e;
}

.arrow_wrapper:active {
    opacity: 0.6;
}

.add_file_button {
    color: #ffff;
    background-color: #252526;
    border: 3px solid #2B2B2B;
    border-top: none;
    border-bottom: none;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.add_file_button:hover {
    background-color: #3e3e3e;
}

.add_file_icon {
    width: 24px;
}

.tool {
    width: 35px;
    height: 35px;
    padding: 8px;
    margin: 0px 8px;
    cursor: pointer;
    display: block;
    user-select: none;
}

.tool:hover {
    background-color: #3e3e3e;
    border-radius: 4px;
}

.somediv {
    max-width: 800px;
}

.current_path {
    border: 3px solid #2B2B2B;
    border-radius: 4px;
    width: 60%;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    margin-right: 8px;
}

.path_arrow {
    width: 12px;
}

.path_folder {
    color: #ffffff;
    user-select: none;
}

.path_folder:hover {
    color: #dcdbdb;
    cursor: pointer;
}

.search {
    border: 3px solid #2B2B2B;
    border-radius: 4px;
    background-color: #252526;
    padding: 0px 8px;
    color: #ffff;
    width: 20%;
}

.search:focus {
    background-color: #3e3e3e;
}

.grid_wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.disabled {
    opacity: 0.5;
}


.upload_files_block {
    display: flex;
    flex-direction: column;
    background-color: #3f3e3e;
    width: 143px;
    border: 3px solid #2B2B2B;
    border-top: none;
    position: absolute;
    bottom: -84px;
    z-index: 10;
    cursor: pointer;
}

.upload_files_func_wrapper {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    align-items: center;
    width: 100%;
    user-select: none;
    position: relative;
}

.upload_files_func_icon {
    width: 24px;
}

.upload_files_func_name {
    color: #ffff;
    font-size: 13px;
    font-weight: 500;
}

.upload_files_func_wrapper:hover {
    background-color: #494949;
}

.hidden {
    display: none;
}

.upload_files_func_input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.tool:active {
    opacity: 0.6;
}